@import url(../styles/reset.css);

@font-face {
  font-family: "Comfortaa";
  src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}

:root {
  --brand-color-white: #fff;
  --brand-color-grey: #a3a3a3;
  --brand-color-card: #210a01;
  --brand-color-orange: #fe9c1c;
}

body {
  font-family: "Comfortaa";
  background-image: url("../img/background-img.png");
  background: linear-gradient(
    223deg,
    #1e0c00 0%,
    #1f0700 31.43%,
    #170a00 69.37%,
    #1e0d00 100%
  );
  color: var(--brand-color-white);
}

.container {
  margin: auto;
  padding: 15px;
  max-width: 1220px;
}

a {
  color: var(--brand-color-grey);
}

h2 {
  font-weight: 800;
  font-size: 69px;
  line-height: 110%;
}

h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 110%;
}

p {
  color: var(--brand-color-grey);
  font-weight: 400;
  font-size: 17px;
  line-height: 110%;
}

/* Modal window */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-content {
  border: 1px solid var(--brand-color-orange);
  background: var(--brand-color-card);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 700px;
}

.modal-content p {
  color: var(--brand-color-white);
}

.basket__container {
  display: flex;
  justify-content: space-between;
}

#total-price,
#delivery-price,
#final-price {
  color: greenyellow;
}

#delivery-price {
  margin-bottom: 16px;
}

#close-cart {
  float: right;
}

#clear-cart {
  margin-bottom: 10px;
  color: #ff6432;
}

.basket-box {
  padding: 5px;
  margin-bottom: 10px;
}

.basket__container__one p {
  margin-bottom: 5px;
}

.basket-item {
  background-color: var(--brand-color-white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
}

.value__item {
  border: 1px solid var(--brand-color-white);
  border-radius: 50px;
  padding: 2px;
  margin: 5px;
}

#place-order {
  margin: auto;
  border-radius: 100px;
  width: 229px;
  height: 62px;
  background: linear-gradient(214deg, #fe9c1c 0%, #ff5e2a 100%);
}

#place-order:hover {
  background: transparent;
  border: 1px solid var(--brand-color-orange);
  transition: 0.3s;
}

.modal.open {
  display: flex;
}

.basket__container__two h3 {
  margin-bottom: 10px;
}

.basket__container__two input {
  border: 1px solid var(--brand-color-orange);
  border-radius: 50px;
  padding: 5px;
  margin-top: 5px;
}

.basket-item-box {
  padding: 5px;
  border-radius: 50px;
  border: 1px solid var(--brand-color-orange);
}

.total__box {
  margin: auto;
}

/* Header */
.header {
  margin-bottom: 100px;
}

.header__nav,
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  gap: 80px;
}

.header__list a {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  color: #a3a3a3;
}

.header__list li:hover {
  background: linear-gradient(215deg, #ff6432 0%, #ffa228 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Home section */

.home__section {
  display: flex;
  align-items: center;
  gap: 250px;
  margin-bottom: 260px;
}

.home__box__one {
  position: relative;
  max-width: 550px;
}

.arrow__home__icon {
  position: absolute;
  left: 500px;
  bottom: -200px;
}

.home__box__one span {
  color: var(--brand-color-white);
}

.video__link img {
  margin-bottom: 15px;
}

.hero__title {
  font-weight: 800;
  font-size: 69px;
  line-height: 110%;
  margin-bottom: 40px;
}

.about__home_subtitle {
  margin-bottom: 10px;
}

.cooking__p {
  margin-bottom: 20px;
}

.home__box__two {
  position: relative;
}

.home__box__two img {
  border-radius: 50px;
}

.home__box__two img:first-child {
  position: absolute;
  top: -130px;
  right: -110px;
}

.home__box__two img:last-child {
  position: absolute;
  bottom: -120px;
  right: 250px;
}

.home__btn {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 229px;
  height: 62px;
  font-weight: 500;
  font-size: 22px;
  line-height: 124%;
  color: var(--brand-color-white);
  background: linear-gradient(214deg, #fe9c1c 0%, #ff5e2a 100%);
}

.home__btn:hover {
  background: transparent;
  border: 1px solid var(--brand-color-orange);
  transition: 0.3s;
}

/* about section */
.about__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 160px;
}

.about__box__one {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 490px;
}

.about__box__two {
  position: relative;
}

.about__box__two img:first-child {
  position: absolute;
  top: -150px;
  right: -100px;
}

.about__box__two img {
  border-radius: 50px;
}

.about__box__two img:last-child {
  position: absolute;
  bottom: -120px;
  right: 400px;
}

/* products section*/

.products__section h2 {
  text-align: center;
  margin-bottom: 50px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 30px;
  width: 300px;
  min-height: 650px;
  padding: 16px;
  margin: auto;
  background-color: var(--brand-color-card);
}

.product-card h3 {
  text-align: center;
  margin-bottom: 15px;
}
.products-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.products-container img {
  margin: 0 auto 15px;
  width: 250px;
  height: 250px;
}

.product-card p {
  margin-bottom: 15px;
}

.product-card p:nth-of-type(2) {
  font-weight: 500;
  font-size: 25px;
  line-height: 110%;
  color: var(--brand-color-white);
}

.product-card button {
  margin: 0 auto;
  border-radius: 100px;
  width: 229px;
  height: 62px;
  background: linear-gradient(214deg, #fe9c1c 0%, #ff5e2a 100%);
}

.product-card button:hover {
  background: transparent;
  border: 1px solid var(--brand-color-orange);
  transition: 0.3s;
}

.drinks__section h2 {
  text-align: auto;
}

/* Footer */

.footer {
  padding: 32px 0;
  background-color: var(--brand-color-card);
}

.footer-container {
  display: flex;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer-menu a:hover {
  background: linear-gradient(215deg, #ff6432 0%, #ffa228 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--brand-color-white);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
